---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import PostCard from "@/components/PostCard.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import Pagination from "@/components/Pagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const items = await getCollection("posts", ({ data }) => data.published);
  return paginate(
    items.toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime()),
    { pageSize: 10 },
  );
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<ArticleLayout
  title="Posts"
  description="Discover my range of creative solutions and expertise."
>
  <div class="container p-4 sm:max-w-screen-sm mx-auto pt-32 sm:pt-48">
    <h1 class="text-2xl mb-16 text-center font-bold uppercase">Posts</h1>
    <div class="space-y-4">
      {page.data.map((post) => <PostCard post={post} />)}
    </div>

    <Pagination
      prevPage={page.currentPage > 1
        ? `/posts/${page.currentPage - 1}`
        : undefined}
      nextPage={page.currentPage < page.lastPage
        ? `/posts/${page.currentPage + 1}`
        : undefined}
    />
  </div>
</ArticleLayout>
