---
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import ContactMeCard from "@/components/ContactMe.astro";
---

<ArticleLayout
  title="Projects"
  description="Explore my portfolio's diverse projects. From web design to development, discover my range of creative solutions and expertise."
>
  <div class="container p-4 sm:max-w-screen-sm mx-auto pt-32 sm:pt-48">
    <h1 class="text-lg mb-8 font-bold uppercase">Contact Me</h1>
    <ContactMeCard />
  </div>
</ArticleLayout>
