---
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import ContactMeCard from "@/components/ContactMe.astro";
---

<ArticleLayout
  title="Contact Me"
  description="Contact me for any questions or inquiries."
>
  <div class="container p-4 sm:max-w-screen-sm mx-auto pt-32 sm:pt-48">
    <h1 class="text-2xl mb-8 text-center font-bold uppercase">Contact Me</h1>
    <ContactMeCard />
  </div>
</ArticleLayout>
