---
import { getCollection } from "astro:content";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/lib/ui-variants/button";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Introduction from "@/components/Introduction.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import PostCard from "@/components/PostCard.astro";
import Footer from "@/components/Footer.astro";
import { HeaderToggle } from "@/components/HeaderToggle";
import Header from "@/components/Header.astro";
import Navbar from "@/components/Navbar.astro";
import ContactMe from "@/components/ContactMe.astro";
import ArrowRight from "@/components/icons/ArrowRight.astro";

const [projects, posts] = await Promise.all([
  getCollection("projects", ({ data }) => data.published && data.featured),
  getCollection("posts", ({ data }) => data.published && data.featured),
]);
---

<BaseLayout
  title="Hello! 👋"
  description="This is Touha. Welcome to my portfolio."
>
  <HeaderToggle client:load>
    <Header />
  </HeaderToggle>

  <div class="container p-4 sm:max-w-screen-sm mx-auto pt-32 sm:pt-48">
    <Introduction />

    <div id="pageNav" class="mt-16 sm:mt-12">
      <Navbar />
    </div>

    <div class="mt-24"></div>
    <h1 class="mb-8 sm:mb-12 text-lg font-bold uppercase">My Projects</h1>

    <div class="-mx-4 sm:-mx-6 space-y-4">
      {
        projects
          .toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((project) => <ProjectCard project={project} />)
      }
    </div>

    <div class="mb-14 mt-2 flex justify-end">
      <a class={cn(buttonVariants({ variant: "ghost" }))} href="/projects/1">
        View all projects <ArrowRight class="w-5 h-5 ml-1" />
      </a>
    </div>
    <h1 class="mb-8 sm:mb-12 text-lg font-bold uppercase">My Posts</h1>
    <div class="-mx-4 sm:-mx-6 space-y-4">
      {
        posts
          .toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((post) => <PostCard post={post} />)
      }
    </div>
    <div class="mb-14 mt-2 flex justify-end">
      <a class={cn(buttonVariants({ variant: "ghost" }))} href="/posts/1">
        View all posts <ArrowRight class="w-5 h-5 ml-1" />
      </a>
    </div>

    <h1 class="mb-8 sm:mb-12 text-lg font-bold uppercase">Contact Me</h1>
    <ContactMe />

    <Footer />
  </div>
</BaseLayout>

<style is:global>
  .hide-header {
    visibility: hidden;
    scale: 0.85;
    opacity: 0;
  }
</style>
