---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Introduction from "@/components/Introduction.astro";
---

<BaseLayout
  title="Welcome"
  description="Hi, this is Touha. Welcome to my portfolio."
>
  <div class="container p-2 md:max-w-screen-md mx-auto">
    <Introduction />
  </div>
</BaseLayout>
