---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Introduction from "@/components/Introduction.astro";
import Projects from "@/components/Projects.astro";

const projects = await getCollection("projects");
---

<BaseLayout
  title="Welcome"
  description="Hi, this is Touha. Welcome to my portfolio."
>
  <div class="container p-2 md:max-w-screen-md mx-auto">
    <Introduction />
    <Projects projects={projects} />
  </div>
</BaseLayout>
