---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";
import Introduction from "@/components/Introduction.astro";
import Projects from "@/components/Projects.astro";
import Blog from "@/components/Blog.astro";
import Footer from "@/components/Footer.astro";

const [projects, articles] = await Promise.all([
  getCollection("projects", ({ data }) => data.published),
  getCollection("articles", ({ data }) => data.published),
]);
---

<BaseLayout
  title="Welcome"
  description="Hi, this is Touha. Welcome to my portfolio."
>
  <div class="container p-4 sm:max-w-screen-sm mx-auto pt-32 sm:pt-48">
    <Introduction />
    <div class="mt-16 sm:mt-12">
      <Navbar />
    </div>
    <div class="mt-24">
      <Projects projects={projects} />
    </div>
    <div class="mt-16">
      <Blog articles={articles} />
    </div>

    <Footer />
  </div>
</BaseLayout>
