---
import { Image } from "astro:assets";
import Badge from "@/components/ui/Badge.astro";
import type { ImageMetadata } from "astro";

export interface Props {
  href?: string;
  label: string;
  src?: ImageMetadata;
}

const { href, label, src } = Astro.props;
---

<Badge
  href={href}
  target="_blank"
  variant="outline"
  class="text-base text-muted-foreground font-medium translate-y-0.5 px-1.5 leading-tight rounded-lg"
>
  {
    src ? (
      <Image src={src} alt={`${label} logo`} class="w-4 h-4 -my-1 mr-1" />
    ) : null
  }
  <span class="-translate-y-0.5">{label}</span>
</Badge>
