---
import { Image } from "astro:assets";

import Chip from "./Chip.astro";

import NextjsLogo from "@/assets/next-js.svg";
import ReactLogo from "@/assets/react-2.svg";
import NodeLogo from "@/assets/nodejs-icon.svg";
import ProfilePhoto from "@/assets/touha.jpeg";
---

<div class="flex space-x-6">
  <div>
    <div
      class="rounded-full overflow-hidden w-[72px] h-[72px] border-4 ring-4 border-muted-foreground ring-secondary ring-opacity-40"
    >
      <Image src={ProfilePhoto} alt="Touha Zohair" class="w-16 h-16" />
    </div>
  </div>
  <div>
    <h1 class="text-3xl text-primary font-medium">Touha</h1>
    <p class="text-lg text-muted-foreground mt-0.5">Full Stack Web Developer</p>
  </div>
</div>
<p class="mt-12 text-lg">
  I craft modern TypeScript web apps with <Chip
    href="https://nextjs.org/"
    src={NextjsLogo}
    label="Nextjs"
  /> and other <Chip href="https://react.dev/" src={ReactLogo} label="React" />
   frameworks. I also develop scalable, performant backends and APIs in <Chip
    href="https://nodejs.org/"
    src={NodeLogo}
    label="Nodejs"
  /> or compatible JavaScript runtimes.
</p>
<p class="mt-4 text-lg">
  Need assistance or want to start a project? Mail me at <a
    href="mailto:mail@touha.dev"
    class="font-bold hover:underline"
  >
    mail@touha.dev</a
  >.
</p>
