---
import FeatherIcon from "@/components/icons/Feather.astro";
import MessageIcon from "@/components/icons/Message.astro";
import AtIcon from "@/components/icons/At.astro";
import GithubIcon from "@/components/icons/Github.astro";
import { cn } from "@/lib/utils";

interface Props {
  active?: string;
}

const links = [
  {
    name: "Projects",
    href: "/projects/1",
    icon: FeatherIcon,
  },
  {
    name: "Posts",
    href: "/posts/1",
    icon: MessageIcon,
  },
  {
    name: "Contact",
    href: "/contact-me",
    icon: AtIcon,
  },
  {
    name: "Github",
    href: "https://github.com/iamtouha",
    icon: GithubIcon,
  },
];
---

<nav class={cn("p-2 flex space-x-3 sm:space-x-5")}>
  {
    links.map((link) => (
      <a
        href={link.href}
        class={cn(
          "group relative p-1 rounded text-muted-foreground focus:outline-none focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary",
        )}
      >
        <div class="flex flex-wrap items-center justify-center text-xs sm:text-sm font-bold gap-1 sm:gap-2">
          <link.icon
            class={cn(
              "w-[18px] h-[18px]",
              "transition transform ease-out group-hover:drop-shadow-md group-hover:scale-125 group-active:translate-y-1 duration-500",
            )}
          />

          <span>{link.name}</span>
        </div>
      </a>
    ))
  }
</nav>
