---
import type { CollectionEntry } from "astro:content";
import Card from "@/components/ui/card/Card.astro";
import CardHeader from "@/components/ui/card/CardHeader.astro";
import CardTitle from "@/components/ui/card/CardTitle.astro";
import CardDescription from "@/components/ui/card/CardDescription.astro";
import CardContent from "@/components/ui/card/CardContent.astro";
import DotIcon from "@/components/icons/Dot.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div class="space-y-4">
  {
    posts
      .sort((pa, pb) => {
        const a = new Date(pa.data.date);
        const b = new Date(pb.data.date);
        return b.getTime() - a.getTime();
      })
      .map((article) => (
        <a
          href={`/posts/${article.slug}`}
          class="block rounded focus:outline-none focus-visible:outline-none focus:ring-1"
        >
          <Card class="border-0 shadow-none transition-colors duration-500 hover:bg-secondary/50 dark:hover:bg-secondary/30">
            <CardHeader class="pb-2 px-4 pt-4 sm:px-6 sm:pt-6">
              <CardTitle>{article.data.title}</CardTitle>
              <CardDescription>
                {article.data.date.toLocaleDateString(undefined, {
                  dateStyle: "medium",
                })}
                <DotIcon class="w-4 h-4 inline" />
                {article.data.read}
              </CardDescription>
            </CardHeader>
            <CardContent class="text-muted-foreground  px-4 pb-4 sm:px-6 sm:pb-6">
              {article.data.description}
            </CardContent>
          </Card>
        </a>
      ))
  }
</div>
