---
import "../styles/globals.css";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
}
const { title, description, image, type } = Astro.props;
---

<script is:inline>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  };
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  // if (typeof localStorage !== "undefined") {
  //   const observer = new MutationObserver(() => {
  //     const isDark = document.documentElement.classList.contains("dark");
  //     localStorage.setItem("theme", isDark ? "dark" : "light");
  //   });
  //   observer.observe(document.documentElement, {
  //     attributes: true,
  //     attributeFilter: ["class"],
  //   });
  // }
</script>

<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <SEO
    title={title}
    titleTemplate="%s | Touha"
    description={description}
    openGraph={{
      basic: {
        title,
        type: type ?? "webpage",
        image: image ?? "/assets/astro-logo.png",
      },
      image: image
        ? { url: image, width: 1200, height: 630, alt: title }
        : undefined,
    }}
  />
  <link rel="icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <body>
    <slot />
    <ViewTransitions />
  </body>
</html>
