---
import { badgeVariants, type BadgeVariants } from "@/lib/ui-variants/badge";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a">, BadgeVariants {}

const { variant, href, class: className, ...props } = Astro.props;
---

{
  href ? (
    <a
      {...props}
      href={href}
      class={cn(badgeVariants({ variant, class: className }))}
    >
      <slot />
    </a>
  ) : (
    <span {...props} class={cn(badgeVariants({ variant, class: className }))}>
      <slot />
    </span>
  )
}
