---
import { buttonVariants, type ButtonVariants } from "@/lib/ui-variants/button";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button">, ButtonVariants {
  href?: string;
}

const { variant, size, href, class: className, ...props } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      {...props}
      class={cn(buttonVariants({ variant, size, class: className }))}
    >
      <slot />
    </a>
  ) : (
    <button
      {...props}
      class={cn(buttonVariants({ variant, size, class: className }))}
    >
      <slot />
    </button>
  )
}
